.section1 h1{
    margin-top: 1em;
}

.Carrossel_outlet {
    text-align: center;
}

.Carrossel_outlet img{
    width: 1012px;
}


.productImg img{
    padding: 1em;
    width: 352px;
    height: 23em;
}